.topbar{
    background-color: white;
    height: 78px;
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    font-family: 'Nuosu SIL', serif;
    flex-wrap: wrap;
    z-index: 900;
    
}
.top-center{
    flex: 6;
    color: ;
}

.top-right{
    flex:3;
    display:flex;
    align-items:center;
    justify-content: center ;
    
}

.top-left{
    flex:1.5;
    display:flex;
    align-items:center;
    justify-content: center ;
    
}

.topbar-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.top-icons{
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    
}

.top-list{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.toplist-item{
    margin-right: 22px;
    cursor: pointer;
    font-weight: 300;
    font-size: 25px;
    font-display: swap;
    color:rgb(168, 164, 164);
    display: flex;
    list-style: none;
    
}

.icon-search{
    font-size: 20px;
    color:rgb(14, 27, 23);
    cursor: pointer;
    margin-left: 21px;
    display: flex;
}

.link{
   text-decoration: none;
   color:inherit
}

.logo-icon{
    font-size: 85px;
    float: right;
}

.topbar-hamburger{
    position: absolute;

    display: none;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 30px
}

.topbar-hamburger .bar{
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    margin: 3px;
}

a:hover{
    color:rgb(168, 164, 164);
}

@media screen and (max-width: 600px){
    .topbar-hamburger{
        display: flex;
    }
    .top-list{
        display: none;
    }
}